fastapi
uvicorn
sqlmodel
psycopg2-binary
sqlalchemy
pydantic
python-dotenv
passlib
email-validator
redis
python-multipart
aiofiles
filetype
bcrypt==3.2.2
fastapi_mail
python-jose[cryptography]==3.3.0
azure-storage-blob
