fastapi
uvicorn
sqlmodel
psycopg2-binary
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib
email-validator
redis
python-multipart
aiofiles
filetype
bcrypt
fastapi_mail
python-jose[cryptography]==3.3.0
azure-storage-blob
